/* ------ reset css ------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ------ variable css ------ */

:root {
  --clr-primary-blue: #0065fc;
  --clr-secondary-blue: #deebff;
  --clr-bg-gray: #f2f2f2;
  --clr-hover: #007dcf;
  --white: #fff;
  --black: #000;
}

/* ------ global css ------ */

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 0px;
  margin-top: 0px;
  margin: auto;
}

img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.full {
  color: var(--clr-primary-blue);
}

.empty {
  color: #ccc;
}

/* Navigation */

.logo {
  width: 95px;
  height: 45px;
}

nav ul li .liste {
  display: flex;
  text-decoration: none;
  padding: 0px 30px 0px 30px;
  align-items: center;
  color: var(--black);
  font-size: 1em;
  height: 50px;
}

nav li:nth-child(1) {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
  margin-top: 0;
  padding: 0;
}

nav li {
  display: flex;
  margin-top: 0px;
  border-top: 2px solid transparent;
}

nav ul .nav_link,
nav ul .inscription {
  border-top: 2px solid transparent;
}

nav ul .nav_link:hover,
nav ul .inscription:hover {
  border-top: 2px solid var(--clr-primary-blue);
}

nav a:hover {
  color: var(--clr-primary-blue) !important;
}

.inscription {
  color: var(--clr-primary-blue) !important;
  font-weight: bold;
}

/* section filtres et recherche */

section h1 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 30px 0px 10px 10px;
  padding: 0px 0px 0px 0px;
}
section p {
  font-size: 0.95em;
  margin: 2px 0px 10px 10px;
}
.recherche {
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  border-radius: 10px;
  margin: 25px 0px 10px 10px;
}
.fa-map-marker-alt {
  padding: 12px 14px 12px 14px;
  background-color: var(--clr-bg-gray);
  border-radius: 10px 0px 0px 10px;
}
.texte {
  font-family: 'Raleway', sans-serif;
  padding: 0px 50px 0px 10px;
  border-color: var(--clr-bg-gray);
  border-style: solid;
}
.texte::placeholder {
  /* color: var(--black); */
  font-size: 1.2em;
  font-weight: 700;
}
.rechercher {
  padding: 10px 15px 10px 15px;
  margin-left: -8px;
  color: var(--white);
  background-color: var(--clr-primary-blue);
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  border-color: var(--clr-bg-gray);
  border: none;
}
.rechercher:hover,
.loupe:hover {
  background-color: blue;
}
.hero .logo_loupe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 0 0 -8px;
  padding: 0;
  border-radius: 10px;
  border: none;
}
#logo_loupe {
  display: none;
}
.loupe {
  color: var(--white);
  background-color: var(--clr-primary-blue);
  padding: 12px 15px 12px 15px;
  font-size: 1.6em;
  border-radius: 10px;
  border: none;
}
#filtres {
  display: flex;
  margin-top: 20px;
}
#filtres p {
  font-size: 1.1em;
  font-weight: bold;
  margin: auto 0 auto 25px;
}

#filtres ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

#filtres li {
  display: flex;
  border: 1px solid var(--clr-bg-gray);
  border-radius: 25px;
  text-decoration: none;
  margin-right: 20px;
}
#filtres li:hover {
  background-color: var(--clr-secondary-blue);
}

#filtres li:hover i {
  background-color: var(--white);
}
#filtres ul li a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: var(--black);
  padding-right: 20px;
  border-radius: 25px;
}

#filtres ul li a i {
  border: 1px solid var(--clr-bg-gray);
  padding: 15px 15px 15px 15px;
  background-color: var(--clr-secondary-blue);
  color: var(--clr-primary-blue);
  border-radius: 25px;
  margin-right: 8px;
}

#infos i {
  border: 1px solid var(--clr-bg-gray);
  padding: 6px 12px 6px 12px;
  color: var(--clr-primary-blue);
  border-radius: 100px;
  margin-right: 8px;
}

#infos {
  font-size: 0.9em;
  margin-bottom: 25px;
}

/* Section hebergement, partie gauche */

section.hebergements_marseille {
  width: 68%;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px;
}

.content section,
aside {
  border-radius: 10px;
  background-color: var(--clr-bg-gray);
}

.content h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0px 8px 45px;
}

.content h3 {
  font-size: 1em;
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 10px;
}

#hebergement_liste p {
  font-size: 0.9em;
  margin-bottom: 2px;
}

.content a {
  width: auto;
  text-decoration: none;
  color: var(--black);
}

.hebergement_liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: auto;
  padding: 15px 10px 15px 10px;
  margin: 0;
}
.hebergement_liste figure {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hebergement_liste li {
  display: flex;
  list-style-type: none;
  background-color: var(--white);
  width: auto;
  box-shadow: 1px 1px 5px rgb(212, 212, 212);
  border-radius: 15px;
  margin-bottom: 20px;
}

.hebergement_liste li:hover {
  transform: scale(1.03);
  transition: ease 0.4s;
}

.hebergement_liste figure {
  width: auto;
  margin: 5px 5px 5px 5px;
}
.hebergement_liste img {
  border-radius: 10px 10px 0px 0px;
  width: 230px;
  height: 100px;
}

.voir_plus {
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 35px;
}

.voir_plus:hover {
  color: var(--clr-hover);
}

/*Section hébèregemnts populaires, partie droite*/

aside.hebergements_populaires {
  width: 30%;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.content header h3 {
  margin: 0;
  padding: 0;
}

.content header i {
  margin-left: 90px;
  margin-bottom: 10px;
}

ul.hebergements_populaire-liste {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin-top: 0;
}

.hebergements_populaire-liste p {
  font-size: 0.9em;
  margin: 5px 0px 0px 10px;
}

.hebergements_populaire-liste figure figcaption p:nth-child(2) {
  margin-bottom: auto;
}
.hebergements_populaire-liste img {
  border-radius: 10px 0px 0px 10px;
  width: 110px;
  min-width: 110px;
  height: 130px;
}

.hebergements_populaire-liste li {
  display: flex;
  list-style-type: none;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgb(212, 212, 212);
  margin-top: 8px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
.hebergements_populaire-liste li:hover {
  transform: scale(1.03);
  transition: ease 0.4s;
}

.hebergements_populaire-liste figure {
  display: flex;
  flex-direction: row;
  margin: 5px 5px 5px 5px;
  /* width: 250px;
    height: 110px; */
}

.hebergements_populaire-liste figure figcaption {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px 0;
}

/* Section Activites, css grid */

.activites {
  margin: 0 15px 20px 15px;
}
.activites h2 {
  margin: 35px 0 18px 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.activites img {
  border-radius: 15px 15px 0px 0px;
}

.activites ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 0.2fr 0.2fr 2fr;
  width: 100%;
  padding: 0;
  grid-column-gap: 20px;
  margin-bottom: 0px;
}
.activites li {
  display: grid;
  list-style-type: none;
  background-color: var(--white);
  border-radius: 15px;
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.4s;
}
.activites li:hover {
  transform: scale(1.03);
}

.activites a {
  text-decoration: none;
  color: var(--black);
}

.activites figure {
  margin: 0;
  padding-bottom: 6px;
  box-shadow: 1px 1px 5px rgb(212, 212, 212);
  border-radius: 15px;
}

.activites h4 {
  padding: 0;
  margin: 10px;
  font-weight: bold;
  font-size: 1em;
}

.activites .element1 img {
  height: 300px;
}

.activites .element1 {
  height: 380px;
  grid-column: 1;
  grid-row: 1 / span 4;
}

.activites .element2 img {
  height: 165px;
}

.activites .element2 {
  height: 220px;
  grid-column: 2;
  grid-row: 1 / span 3;
}

.activites .element3 img {
  height: 65px;
}

.activites .element3 {
  margin-top: 15px;
  height: 155px;
  grid-column: 2;
  grid-row: 4 / span 1;
}

.activites .element4 img {
  height: 300px;
}

.activites .element4 {
  height: 380px;
  grid-column: 3;
  grid-row: 1 / span 4;
}

.activites .element5 img {
  height: 120px;
}

.activites .element5 {
  height: 100px;
  grid-column: 4;
  grid-row: 1 / span 2;
}

.activites .element6 img {
  height: 110px;
}

.activites .element6 {
  margin-top: -15px;
  height: 120px;
  grid-column: 4;
  grid-row: 3 / span 2;
}

/* footer */

footer {
  background-color: var(--clr-bg-gray);
  padding-top: 10px;
  padding-bottom: 15px;
}

footer .container {
  display: flex;
  margin-bottom: 50px;
}

footer section {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  margin-left: 20px;
}

footer h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

footer ul {
  padding-left: 0;
  margin-top: 10px;
}

footer li {
  font-size: 1em;
  list-style-type: none;
  margin-bottom: 8px;
}

footer a {
  text-decoration: none;
  color: var(--black);
}

footer a:hover {
  color: var(--clr-hover);
}

/* Ecran de largeur maximale 1090px */

@media screen and (max-width: 1090px) {
  .container {
    width: 98%;
    margin: 0 auto;
  }
  #filtres {
    flex-direction: column;
  }
  #filtres li {
    margin-bottom: 15px;
  }
  .content {
    flex-direction: column-reverse;
    margin: 0;
    width: auto;
  }
  aside.hebergements_populaires {
    width: 98%;
    margin: 0 auto 30px auto;
  }
  .content .hebergements_marseille {
    width: 98%;
    margin: 0 auto;
  }
  ul.hebergements_populaire-liste {
    width: auto;
    flex-direction: row;
  }
  .hebergements_populaire-liste li {
    margin-right: 20px;
  }
  .hebergement_liste li {
    width: 260px;
  }
  .hebergement_liste img {
    width: 250px;
  }
  .activites {
    margin-bottom: 50px !important;
  }

  .activites img {
    border-radius: 15px 15px 0px 0px;
    width: 100% !important;
    height: 150px !important;
  }
  .activites ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: auto;
    padding: 0;
    grid-gap: 20px;
  }
  .activites li {
    border-radius: 15px;
    width: 100% !important;
    height: 100% !important;
    box-shadow: 1px 1px 5px rgb(212, 212, 212);
    padding: 0 !important;
    margin: 0 !important;
  }
  .activites figure {
    box-shadow: none;
  }
  .activites h4 {
    margin: 10px;
    font-weight: bold;
    font-size: 1em;
  }
  .activites .element1 {
    grid-column: 1;
    grid-row: 1 / span 1;
  }

  .activites .element2 {
    grid-column: 1;
    grid-row: 2 / span 1;
  }

  .activites .element3 {
    grid-column: 2;
    grid-row: 1 / span 1;
  }

  .activites .element4 {
    grid-column: 2;
    grid-row: 2 / span 1;
  }

  .activites .element5 {
    grid-column: 3;
    grid-row: 1 / span 1;
  }

  .activites .element6 {
    grid-column: 3;
    grid-row: 2 / span 1;
  }

  footer section {
    margin-right: 50px;
  }
}

/* Ecran de largeur maximale 885px ( tablettes ) */

@media screen and (max-width: 885px) {
  #filtres p {
    margin-bottom: 10px;
  }

  .voir_plus {
    margin-left: 55px;
  }

  ul.hebergements_populaire-liste {
    flex-direction: column;
  }

  .hebergements_populaire-liste img {
    /* width: 100%; */
    width: 180px;
  }

  footer section {
    margin-right: 50px;
  }
}

/* Ecran de largeur maximale 655px ( mobile ) */

@media screen and (max-width: 655px) {
  nav {
    height: 100%;
  }
  nav a {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  nav ul .inscription {
    padding: 0 !important;
    width: 120px;
  }
  nav ul .logo-link {
    justify-content: flex-start;
    margin-left: 15px;
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    align-items: center;
    width: auto;
  }
  nav ul li:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  nav ul li:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    width: 50%;
  }
  nav ul li:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  nav ul li:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
  }

  nav ul .nav_link:hover {
    border-bottom: 2px solid var(--clr-primary-blue) !important;
    border-top: none;
  }
  nav ul .nav_link {
    border-bottom: 2px solid #ccc;
    border-top: none;
    justify-content: center;
  }

  nav ul li:nth-child(4) {
    border-bottom: 2px solid transparent;
  }

  #logo_loupe {
    display: initial;
  }
  .rechercher {
    display: none;
  }

  .hebergement_liste {
    display: flex;
    flex-direction: column;
  }
  .hebergement_liste li {
    width: 100%;
  }
  .hebergement_liste a {
    width: 100%;
  }
  .hebergement_liste img {
    width: 100%;
    height: 120px;
  }

  .voir_plus {
    margin-left: 0;
  }

  .hebergements_populaire-liste img {
    width: 110px;
  }
  .content section {
    background-color: var(--white);
  }
  .activites ul {
    display: flex;
    flex-direction: column;
  }
  footer .container {
    flex-direction: column;
  }

  footer h5 {
    padding: 15px 0;
  }

  footer li {
    padding: 5px 0;
  }
}
